* {
	box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0 50px;
	background-color: #0E0E0E;
	font-family: 'Open Sans', sans-serif;
}
.clearfix::before, .clearfix::after {
    content: " ";
    display: table;
    clear: both;
}
.container {
	width: 100%;
	margin: auto;
}
/* Colors */
$paragraph-color: #000000;
$brand-main-color: #ff0000;

/* Font sizes */
$paragraph-font-size: 16px;

/* Fonts */
$brand-font: "Open Sans", Helvetica, Arial;
$paragraph-font: "Open Sans", Helvetica, Arial;