* {
	box-sizing: border-box;
}
body {
    margin: 0;
	font-family: 'Open Sans', sans-serif;
}
.clearfix::before, .clearfix::after {
    content: " ";
    display: table;
    clear: both;
}
.container {
	width: 100%;
	margin: auto;
}
.card {
    width: 98%;
    margin-bottom: 20px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
    margin-top: 20px;
}
/* Colors */
$paragraph-color: #000000;
$brand-main-color: #ff0000;

/* Font sizes */
$paragraph-font-size: 16px;

/* Fonts */
$brand-font: "Open Sans", Helvetica, Arial;
$paragraph-font: "Open Sans", Helvetica, Arial;