.button {
    background-color: #F58220;
    border: 2px solid #F58220;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    &:hover {
        background-color: white;
        color: #F58220;
    }
}
.button-wide {
    padding: 10px 20px;
}
.button-narrow {
    padding: 12px 14px;
    font-size-adjust: auto;
}
.hamburger {
    background-color: inherit;
    border: none;
    color: #999999;
    float: right;
    font-size: 30px;
    position: relative;
    transform: translate(-50%, -50%);
    top: -40px;
    &:focus {
        outline: none;
    }
    &:hover {
        background-color: #999999;
        color: #191919;
        border-radius: 20%;
        cursor: pointer;
    }
}
.hamburger-hidden {
    left: 70px;
    top: -60px;
}