button {
    background-color: #F58220;
    border: 1px solid #F58220;
    border-radius: 5px;
    color: white;
}
.button-wide {
    padding: 10px 20px;
}
.button-narrow {
    padding: 12px 14px;
    font-size-adjust: auto;
}