.main-section-fs {
    width: 100%;
    margin-left: 0;
}
.main-section {
    color: #ACACAC;
    background-color: #F5F5F2;
    padding: 0;
    header, .general, .links {
        background-color: #FFFFFF;       
}
    .general {
        .general-date {
            form {
                    display: inline-flex;
            }
        }
        .general-table {
            .general-table-stats {
                div {
                    padding-left: 0;
                    padding-right: 0;
                    border-bottom: 2px solid #f7f7f7;
                    p {
                        padding-bottom: 0;
                        margin-bottom: 0;
                        margin-top: 0;
                        padding-top: 0;
                        padding-left: 0;
                        padding-right: 0;
                    }
                    .stats-bold {
                        color: black;
                        text-align: right;
                    }
                    .stats-normal {
                        text-align: left;
                    }
                }
            }
        }
    }
    header {
        div {
            ul {
                margin: 0;
                border-bottom: 1px solid #e3e3e3;
                li {
                    padding: 20px 20px;
                    float: right;
                    border-left: 1.3px solid #e3e3e3;
                    .header-profile-name {
                        color: #56819f;
                        i {
                            color: #9c9c9c;
                        }
                    }
                }
            }
        }
     }
    .links {
        button {
            margin: 25px;
        }
        .links-link-first {
            border-top: 1px solid #e3e3e3;
        }
        .links-link {
            margin-right: 16.66%;
            transition: 0.6s;
            border-bottom: 1px solid #e3e3e3;
            &:hover {
                background-color: #f1f3f3;
            }
            &:hover>i {
                opacity: 1;
            }
            p {
                display: inline-block;
                color: #b8b8b8;
            }
            a {
                color: #93aebf;
            }
            .links-icon1 {
                margin-right: 15px;
                margin-left: 50px;
                color: #f3b682;
                opacity: 0;
                cursor: pointer;
            }
            .links-icon2 {
                color: #bfc0c0;
                opacity: 0;
                cursor: pointer;
            }
        }
    }
    }