.main-section-fs {
    width: 100%;
    margin-left: 0;
}
.main-section {
    color: #ACACAC;
    background-color: #F5F5F2;
    padding: 0;
    header, .general, .links {
        background-color: #FFFFFF;       
}
    .general {
        .general-table {
            .general-table-stats {
                div {
                    h2 {
                        color: black;
                    }
                }
            }
        }
    }
    header {
        div {
            ul {
                margin: 0;
                border-bottom: 1px solid #e3e3e3;
                li {
                    padding: 20px 20px;
                    float: right;
                    border-left: 1.3px solid #e3e3e3;
                }
            }
        }
    }
    }